<link rel="stylesheet" href="/css/profileAdmin/pets.css">

<section class="admin-section max-width">
    <h1>Mascotas Registradas</h1>
    <div class="return">
        <a href="/perfil-admin" class="page-btn-green" style="font-weight: 600;">Panel del administrador</a>
    </div>

    {{#if pets.length}}
    <table class="admin-table">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Raza</th>
                <th>Especie</th>
                <th>Sexo</th>
                <th>GPS</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each pets}}
            <tr>
                <td data-label="Foto">
                    {{#if this.photo}}
                    <img src="{{this.photo}}" alt="{{this.petName}}" class="pet-avatar" />
                    {{else}}
                    <div class="pet-avatar placeholder">{{this.petName.[0]}}</div>
                    {{/if}}
                </td>
                <td data-label="Nombre">{{this.petName}}</td>
                <td data-label="Edad">{{this.age}}</td>
                <td data-label="Raza">{{this.breed}}</td>
                <td data-label="Especie">{{this.species}}</td>
                <td data-label="Sexo">{{this.sex}}</td>
                <td data-label="gps"><a href="/gps/{{this.gps}}" class="gps-link">{{this.gps}}</a></td>
                <td data-label="Acciones" class="action">
                    <button class="page-btn page-btn-green" data-id="{{this._id}}" data-action="edit">Editar</button>
                    <button class="page-btn page-btn-red" data-id="{{this._id}}" data-action="delete">Eliminar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p class="no-data">No hay mascotas registradas en la plataforma en el momento.</p>
    {{/if}}
</section>

<script src="/js/profileAdmin/pets.js"></script>
